<div class="checkout">
    <h1>Checkout</h1>
    <div class="row">
        <div class="col-sm-7">
            <h3>Add Shipping Address</h3>
            <p class="orderMsg">{{orderMsg}}</p>
            <form #orderForm="ngForm" class="common-form" (ngSubmit)="orderNow(orderForm.value)">
                <input type="email" placeholder="Enter User Email" name="email" class="form-input" #email="ngModel"
                    required>
                <p class="invalid-input"><span *ngIf="email.invalid && email.touched">Please Enter Name</span></p>
                <input type="Address" placeholder="Enter User Address" name="address" class="form-input" ngModel
                    required>
                <p class="invalid-input"><span *ngIf="address.invalid && address.touched">Please Enter Email</span></p>
                <input type="contact" placeholder="Enter User Contact Detail" name="contact" class="form-input" ngModel
                    required>
                <p class="invalid-input"><span *ngIf="contact.invalid && contact.touched">Please Enter Email</span></p>
                <button [disabled]="orderForm.invalid" class="form-button">Order Now</button>
            </form>

        </div>
        <div class="col-sm-5">
            <h3>Total Amount: {{totalPrice}}</h3>
            <h4>Payment Method: <b>Pay On Delivery</b>
            </h4>

        </div>

    </div>

</div>